body{
    margin:0;
    font-family: Arial;
    background:#FFFFFF;
    color:white;
}

h1{
    text-align:center;
    margin-top:1rem;
}

.gallery{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    gap:1rem;
    padding:1rem;
}

.gallery img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

/* Lightbox plein écran */
#lightbox {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(6px);

    display: none; /* masqué par défaut */
    justify-content: center;
    align-items: center;

    z-index: 999;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
    animation: pop 0.25s ease;
}

/* Animation d’apparition */
@keyframes pop {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
