body{
    margin:0;
    font-family: Arial;
    background:#2458A6;
    color:white;
}

h1{
    text-align:center;
    margin-top:1rem;
}

.gallery{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    gap:1rem;
    padding:1rem;
}

.gallery img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}
