body{
    margin:0;
    font-family: Arial;
    background:#FFFFFF;
    color:white;
}

h1{
    text-align:center;
    margin-top:1rem;
}
nav {
    background:#ECE2DE;
    padding:1rem;
}

nav ul {
    display:flex;
    gap:1rem;
    list-style:none;
    margin:0;
    padding:0;
}

nav a {
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.gallery{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    gap:1rem;
    padding:1rem;
}

.gallery img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

/* Lightbox plein écran */
#lightbox {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(6px);

    display: none; /* masqué par défaut */
    justify-content: center;
    align-items: center;

    z-index: 999;
}
#lightbox {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
}
#lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 12px;
}
