/* -----------------------------
   Police
--------------------------------*/

@font-face {
    font-family: "BBHSansBartle-Regular";
    src: url("police/BBHSansBartle-Regular.ttf") format("truetype");
}

body {
    margin:0;
    font-family: "BBHSansBartle-Regular", sans-serif;

    background:#FFFFFF;   /* fond Arcane demandé */
    color: white;
}



/* -----------------------------
   Navigation
--------------------------------*/

nav {
    background:#ECE2DE;
    padding:1rem;
}

nav ul {
    display:flex;
    gap:1rem;
    list-style:none;
    margin:0;
    padding:0;
}

nav a {
    color:white;
    text-decoration:none;
    font-weight:bold;
}



/* -----------------------------
   Rectangles (glass + ombre)
--------------------------------*/

.section-box {
    width:100%;
    padding:2rem 0;

    background:rgba(247, 239, 236,0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    box-shadow:0 6px 18px rgba(0,0,0,0.25);

    margin:2rem 0;
}

.section-box > * {
    width:90%;
    margin:auto;
}



/* -----------------------------
   Catégories
--------------------------------*/

.categories {
    display:flex;
    justify-content:center;
    gap:2rem;
}

.categorie-btn {
    width:170px;
    height:170px;

    border-radius:14px;

    position:relative;
    overflow:hidden;

    cursor:pointer;

    background:rgba(255,255,255,0.15);
    backdrop-filter: blur(8px);

    box-shadow:0 4px 12px rgba(0,0,0,0.25);
}

.categorie-btn img {
    width:100%;
    height:100%;
    object-fit:cover;

    filter: blur(3px) brightness(40%);
    transition:.3s;
}

.categorie-btn:hover img {
    filter: blur(0) brightness(80%);
}

.categorie-btn span {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    font-weight:bold;
}



/* -----------------------------
   Carousel
--------------------------------*/

.photo-section {
    overflow:hidden;
}

.track {
    display:flex;
    animation: scroll 20s linear infinite;
}

.track img {
    width:400px;
    height:300px;

    object-fit:cover;

    border-radius:8px;

    margin-right:1rem;
}

@keyframes scroll {
    from { transform: translateX(0); }
    to   { transform: translateX(-50%); }
}



/* -----------------------------
   Formulaire
--------------------------------*/

.contact-form {
    background:rgba(255,255,255,0.2);
    padding:1rem;
    border-radius:8px;
}

.contact-form label {
    display:block;
    margin-top:1rem;
}

.contact-form input,
.contact-form textarea {
    width:100%;
    padding:.5rem;
}

button {
    margin-top:1rem;
    padding:.7rem 1.2rem;

    background:#333;
    color:white;

    border:0;
    border-radius:4px;

    cursor:pointer;
}

button:hover {
    background:#555;
}


